.gradient-custom {
  background: radial-gradient(50% 123.47% at 50% 50%, rgb(43, 43, 165) 0%, #720059 100%),
    linear-gradient(121.28deg, rgb(16, 16, 107) 0%, black 100%),
    linear-gradient(360deg, rgb(16, 16, 107) 0%, rgb(43, 43, 165) 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, rgb(43, 43, 165) 100%),
    radial-gradient(100% 148.07% at 0% 0%, black 0%, rgb(43, 43, 165) 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}
.carousel-indicators {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}